@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quattrocento Sans", sans-serif;
}

.name {
  height: 100%;
  overflow-y: scroll;
}
.in {
  width: 200px;
  height: 200px;
  background-image: url("../img/ordi.jpg");
  background-size: cover;
  background-position: center;
  padding: 30px !important;
  border-radius: 50%;
}
.image {
  width: 150px;
  border-radius: 50%;
}
.background {
  margin: 0;
  height: 100vh;

  width: 100%;
  background: linear-gradient(#f8dea3, #ddb570);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}
.nav_pc {
  position: fixed;
  width: 100vw;
  height: 70px;
  background-image: url("../img/menu4.jpg");
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.underline:after {
  background: none repeat scroll 0 0 transparent;

  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: relative;
  margin-top: -17px;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline:hover:after {
  width: 100%;
  left: 0;
}
.none {
  background: transparent;
}
.inside {
  width: 88vw;
  height: 100%;
  padding-top: 30px;
  background-color: white;
  /*  background-image: url("../img/bandeau4.jpg");*/
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 3px solid gray;
}
/* ACCUEIL */
h2 {
  font-size: 25px;
  text-align: center;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: lighter;
}
h1 {
  font-size: 25px;
  text-align: center;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: lighter;
}
h3 {
  font-size: 20px;
  text-align: center;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgb(121, 34, 34);
}

hr {
  color: rgb(121, 34, 34);
}
.name {
  position: absolute;
  width: 80%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 30px;
  height: 100%;
}
.adresse {
  margin-top: 5vh;
  text-align: center;
}

p {
  font-size: 0.9em;
  text-align: center;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: lighter;
  margin-bottom: 20px;
}

.a_button {
  display: block;
  margin: 0 auto;
}

button {
  margin-top: 2vh;
  width: 20vw;
  height: 6vh;
  line-height: 6vh;
  background-color: white;
  border: none;
  border-radius: 3px;
  color: black;
  font-size: 25px;
  cursor: pointer;
  font-weight: lighter;
  border: 1px solid black;
}

.tel {
  font-size: 25px;
  font-weight: bold;
  margin-top: 2vh;
  color: black;
  text-decoration: none;
}
.psycho1 {
  margin-bottom: 30px;
}
.background {
  padding-top: 5vh;
  height: 100vh;
  justify-content: center;
}
p {
  font-size: 0.6em;
}
.name {
  position: absolute;
  width: 80%;
  top: 50%;
}
.image {
  position: absolute;
  top: 2%;
  left: 2%;
}

@media only screen and (max-width: 700px) {
  .image {
    position: absolute;
    width: 75px;
  }
  .background {
    height: 140vh;
  }
  .name {
    top: 70%;
  }
}
